<%- include('partials/header') -%>
<%- include('partials/navbar2') -%>

<div class="py-16 px-2 lg:px-8">
  <div class="prose mb-3">
    <h2><%= post.name %></h2>
    <p>Flavor notes: <%= post.flavorNotes || 'not provided' %></>
    <p>Posted by: <%= userName %></p>
  </div>
  <div class="divider"><i class="fas fa-coffee"></i> Recipe</div>
  <div class="grid grid-cols-1 md:grid-cols-2 grid-rows-1 gap-6">
    <div class="space-y-2">
      <img class="max-w-sm lg:max-w-md rounded-lg col-start-1" src="<%= post.image%>" />
      <div class="flex">
        <form
        class="mr-6 tooltip"
        data-tip="Like post"
        action="/post/likePost/<%= post.id %>?_method=PUT"
        method="POST"
        >
          <button class="btn btn-primary max-w-min fa fa-heart" type="submit"></button>
        </form>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="tooltip"
          data-tip="Delete post"
        >
          <button class="btn btn-primary max-w-min fas fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
      <h3 class=""><%= post.likes %> likes</h3>
    </div>
    <div class="prose pr-2">
      <h2>Set up:</h2>
      <p>Suggested coffee: <%= post.suggestedCoffee || 'not provided' %></p>
      <p>Brew method: <%= post.brewMethod %></p>
      <p>Coffee amount: <%= post.coffeeAmount || '?' %> grams</p>
      <p>Grind size: <%= post.grindSize %></p>
      <p>Water amount: <%= post.waterAmount || '?' %> grams</p>
      <h2>Method:</h2>
      <ul class="">
      <% for (let i=0; i < post.method.length; i++) { %>
        <li class=""><%= post.method[i] %></>
      <%}%>
      </ul>
    </div>

  </div>
  <!-- Add a comment box -->
  <div class="divider"><i class="fas fa-comments"></i> Comments</div>
  <div class="mt-5 prose mx-auto flex flex-col items-center justify-center">
    <ul class="">
      <% for(var i=0; i<comments.length; i++) {%>
      <li class="list-none border rounded-lg border-slate-300 p-4">
        <%= comments[i].comment %>
      </li>
      <% } %>
    </ul>
    <form action="/comment/<%= post._id %>" method="POST" class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
          <label for="comment" class="label"><span class="card-title">Add a comment:</span></label>
          <input type="text" class="input input-bordered w-full max-w-xs" id="comment" name="comment" placeholder="Comment">
          <div class="card-actions justify-end">
            <button type="submit" class="btn" value="comment">Post comment</button>
          </div>
      </div>
    </form>
  </div>
</div>

<%- include('partials/footer') -%>
